/DexKnifePlugin/.idea/.name
/DexKnifePlugin/.idea/compiler.xml
/DexKnifePlugin/.idea/copyright/profiles_settings.xml
/DexKnifePlugin/.idea/encodings.xml
/DexKnifePlugin/.idea/gradle.xml
/DexKnifePlugin/.idea/inspectionProfiles/Project_Default.xml
/DexKnifePlugin/.idea/inspectionProfiles/profiles_settings.xml
/DexKnifePlugin/.idea/misc.xml
/DexKnifePlugin/.idea/modules.xml
/DexKnifePlugin/.idea/qaplug_profiles.xml
/DexKnifePlugin/.idea/runConfigurations.xml
/DexKnifePlugin/.idea/vcs.xml
